<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="a">
    <h1>Ingrese sus datos</h1>
  </div>
  <ion-item>
    <ion-input placeholder="Ingrese su nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Ingrese su contraseña" type="password"></ion-input>
  </ion-item>

  <div id="button">
    <ion-button routerLink="/" color="tertiary" shape="round">iniciar sesion</ion-button>
  </div>
</ion-content>