ion-card-header{
    display: flex;
}
#boton {
    align-self:flex-end;
    margin-top: -40px;
}
ion-card-content{
    margin-top: -10px;
}
ion-card-title{
    font-weight: 700;
    font-size: 30px;
}